.bannerimage {
    background-image: url(../../assets/images/banner.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 4rem; 
}

.bannerimage {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 1rem 4rem 1rem;
}

@media screen and (min-width: 768px) {
  .bannerimage {
    padding: 0 4rem 4rem 4rem;
  }
}


